/* General page styling */

body {
  margin: 0; 
  padding: 0;
}

.MainPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
}


/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 45px;
  font-weight: bold;
  color: #747965; /* Olive Gray */
  font-family: 'Jersey 15', cursive; 
}

/* Auth buttons */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-button {
  font-weight: bold;
  background: none;
  border: none;
  font-size: 18px;
  color: #747965; /* Olive Gray */
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
  background-color: #EAEAEA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-button {
  font-weight: bold;
  background-color: #C2A78C; /* Warm Beige */
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #D1BDA7; /* Light Beige */
}

/* Intro Section Styling */
.intro-section {
  text-align: center;
  padding: 10px; 
  margin-bottom: 10px; 
}

.intro-title {
  font-size:38px;
  font-weight: bold;
  color: #333d29;
  margin-bottom: 10px; 
}

.intro-description {
  font-size: 20px;
  color: #606C38;
  margin-bottom: 12px; 
}

/* Center big photo */
.center-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.2;
  margin-top: 0; 
}

.big-photo {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}